<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
    </style>
</head>

<body>
    <div>
        <a href="/index">Home</a>

        <div class="dropdown" id="about-us">
            <a href="/about">About Us</a>
            <div class="dropdown-content">
                <a href="/intro">Introduction to Vietnam House in GCC</a>
                <a href="/mission">Mission Statement</a>
                <a href="/profile">Our Profile</a>
                <a href="/partners">Our Partners</a>
            </div>
        </div>

        <div class="dropdown" id="services">
            <a href="/services">Services</a>
            <div class="dropdown-content">
                <a href="/tradepromo">Trade Promotion</a>
                <a href="/consulting">Consulting</a>
                <a href="/mice">MICE</a>
            </div>
        </div>

        <div class="dropdown" id="b2b">
            <a href="/b2b">B2B</a>
            <div class="dropdown-content">
                <a href="/sbe">Successful Business Events</a>
                <a href="/uaebe">UAE Business Events</a>
                <a href="/sabe">Saudi Arabia Business Events</a>
            </div>
        </div>

        <div class="dropdown" id="news">
            <a href="/news">News & Events</a>
            <div class="dropdown-content">
                <a href="/latestnews">Latest news press release media coverage related to Vietnam House in GCC.</a>
                <a href="/upcoming">Upcoming events, seminars, and workshops.</a>
                <a href="/gallery">Gallery</a>
            </div>
        </div>

        <div class="dropdown" id="marketprofile">
            <a href="/marketprofile">Market Profile</a>
            <div class="dropdown-content">
                <a href="/uae">United Arab Emirates</a>
                <a href="/bahrain">Kingdom of Bahrain</a>
                <a href="/saudi">Kingdom of Saudi Arabia</a>
                <a href="/oman">Sultanate of Oman</a>
                <a href="/qatar">State of Qatar</a>
                <a href="/kuwait">State of Kuwait</a>
            </div>
        </div>

    </div>
    {% block content %}{% endblock %}
</body>

</html>